#{extends 'main.html' /}
#{set title:persona.firstname /}

<h1>Сведения о водителе</h1>

#{form @book(persona.id)}
    <p>
        <strong>Имя:</strong> ${persona.firstname}
    </p>
    <p>
        <strong>Фамилия:</strong> ${persona.lastname}
    </p>
    <p>
        <strong>Отчество:</strong> ${persona.patronymic}
    </p>
    <p>
        <strong>Пол:</strong> ${persona.sex}
    </p>
    <p>
        <strong>Город:</strong> ${persona.city}
    </p>
    <p>
        <strong>Страна:</strong> ${persona.country}
    </p>
    <p>
        <strong>Стоимость заказа:</strong> ${persona.price}
    </p>
    <p>
        <strong>Марка автомобиля:</strong> ${persona.auto.modelname}
    </p>
    <p>
        <strong>Цвет автомобиля:</strong> ${persona.auto.color}
    </p>
    <p>
        <strong>Количество автомобилей:</strong> ${persona.auto.cel}
    </p>
    <p class="buttons">
        <a href="@{index()}">Назад к поиску</a>
    </p>
#{/form}
